
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //function will be called on button click having id btnsave
        $("#btnCreate").click(function () {
            document.getElementById("btnCreate").disabled = true;

            var pass = 0;
            var nam = document.getElementById('n_paradigm_name').value;
            if (nam == '') { alert("Name is empty"); pass = 1; document.getElementById("btnCreate").disabled = false;}
            if (pass == 0) {
                $.ajax(
                   {
                       type: "POST", //HTTP POST Method
                       url: "@Url.Action("ParadigmCreate", "Home")", // Controller/View
                       dataType: "json",
                       traditional: true,
                       data: { //Passing data
                           Name: $("#n_paradigm_name").val(),
                       },
                       success: function (response) {
                           window.location.href = response.Url;
                       },

                   });
            }

            });
        });


</script>
@{
    ViewBag.Title = "CreateParadigm";
}
@{
    Layout = "~/Views/Shared/_ServiceLayout.cshtml";
}




@*    Name: <input type="text" id="n_paradigm_name" /></br>

<input id="btnCreate" type="button" value="Create" />*@

<div id="page-wrapper">
  <div class="page-content page-content-ease-in">
       <div class="row">
           <div class="col-mg-12">
            <div class="page-title">
               <h1> Create paradigm </h1>
                            <ol class="breadcrumb">
                                <li><i class="fa fa-dashboard"></i>  <a href="@Url.Action("Service", "Home")"> Service </a>
                                </li>
                                <li class="active">Create paradigm </li>
                            </ol>
            </div>
       </div>



    <div class="row">

                    <div class="col-mg-12">

                        <div class="tableportlet portlet-default">
                            <div class="portlet-heading">
                                <div class="portlet-title">
                                    <h4>Create data table</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="portlet-tablebody">


<div class="form-group">
        <div class="row">
            <div class="col-xs-4 has-feedback">
                <label class="control-label">Name</label><span style="color: red;"> *</span>
                <input class="form-control" type="text" id="n_paradigm_name"/>
               <small class="help-block">The name is required</small></div>
           
        </div>
    </div>

 <p> @Html.ActionLink("Back", "Paradigms", "Home", new { @class = "btn btn-warning" })  <input id="btnCreate" type="button" value="Create" class="btn btn-success"/> </p>

                            </div>
                            <!-- /.portlet-body -->
                        </div>
                        <!-- /.portlet -->

                    </div>
                    <!-- /.col-lg-12 -->

                </div>


</div>
</div>
