@model IEnumerable<LanguagesEncyclopedia.Views.Home.License>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Create";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>  

<script>
        $(document).ready(function () {
            //function will be called on button click having id btnsave
            $("#btnAdd").click(function () {
                var pass = 0;
                var nam = document.getElementById('n_license').value;
                if (nam == '') { alert("Name is empty"); pass = 1; }
                if(pass==0){
                    $.ajax(
                    {
                        type: "POST", //HTTP POST Method
                        url: "@Url.Action("AddLicense","Home")", // Controller/View
                        data: { //Passing data
                            Name: $("#n_license").val(), //Reading text box values using Jquery
                            Id:@ViewBag.AID,
                        }

                    });}

            });
        });

</script> 


<div id="page-wrapper">
  <div class="container-fluid">
       <div class="row">
           <div class="col-mg-12">
                <h1 class="page-header"> Create Licesnse</h1>
            </div>
       </div>
    </div>

Hello Dream Team!!
</br>
Name: <div style="color: red;">*</div><input type="text" id="n_license"></br><input type="button" id="btnAdd" value="Add" />

</br></br>
@Html.ActionLink("Return to Licenses", "Licenses", "Home"); 



    </div>
