
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //function will be called on button click having id btnsave
        $("#btnCreate").click(function () {
            var pass = 0;
            var nam = document.getElementById('n_paradigm_name').value;
            if (nam == '') { alert("Name is empty"); pass = 1; }
            if (pass == 0) {
                $.ajax(
                   {
                       type: "POST", //HTTP POST Method
                       url: "@Url.Action("ParadigmCreate", "Home")", // Controller/View
                       dataType: "json",
                       traditional: true,
                       data: { //Passing data
                           Name: $("#n_paradigm_name").val(),
                       },
                       success: function (response) {
                           window.location.href = response.Url;
                       },

                   });
            }

            });
        });


</script>
@{
    ViewBag.Title = "CreateParadigm";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="page-wrapper">
  <div class="container-fluid">
       <div class="row">
           <div class="col-mg-12">
                <h1 class="page-header">Create Paradigm</h1>
            </div>
       </div>
    </div>

    </br>
    Name: <input type="text" id="n_paradigm_name" /></br>

<input id="btnCreate" type="button" value="Create" />
</div>