@model LanguagesEncyclopedia.Views.Home.Paradigm

@{
    ViewBag.Title = "EditParadigm";
}

<h2>EditParadigm</h2>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //function will be called on button click having id btnsave
        $("#btnEdit").click(function () {
            $.ajax(
            {
                type: "POST", //HTTP POST Method
                url: "@Url.Action("ParadigmEdit","Home")", // Controller/View
                    data: { //Passing data
                        Name: $("#e_paradigm").val(), //Reading text box values using Jquery
                        ParadigmID: @Model.ParadigmID,
                    }

                });

            });
        });

</script>
 Name: <input type="text" id="e_paradigm" value="@Model.Name" /></br>

<input id="btnEdit" type="button" value="Edit" />