@model LanguagesEncyclopedia.Paradigm
@{
    Layout = "~/Views/Shared/_ServiceLayout.cshtml";
}
@{
    ViewBag.Title = "EditParadigm";
}
<div id="page-wrapper">
  <div class="container-fluid">
       <div class="row">
           <div class="col-mg-12">
                <h1 class="page-header">Edit Paradigm</h1>
            </div>
       </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //function will be called on button click having id btnsave
        $("#btnEdit").click(function () {
            document.getElementById("btnEdit").disabled = true;
            var pass = 0;
            var nam = document.getElementById('e_paradigm').value;
            if (nam == '') { alert("Name is empty"); pass = 1; }
            if(pass==0){
                $.ajax(
                {
                    type: "POST", //HTTP POST Method
                    url: "@Url.Action("ParadigmEdit","Home")", // Controller/View
                    data: { //Passing data
                        Name: $("#e_paradigm").val(), //Reading text box values using Jquery
                        ParadigmID: @Model.ParadigmID,
                    },
                    success: function (response) {
                        window.location.href = response.Url;
                    },

                });}

            });
        });

</script>
Name: <div style="color: red;">*</div> <input type="text" id="e_paradigm" value="@Model.Name" /></br>

<input id="btnEdit" type="button" value="Edit" />
</div>