@model IEnumerable<LanguagesEncyclopedia.Language>

@{
    ViewBag.Title = "Index";
}
    <div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h1>Dream Team</h1>
				<h2>Encyclopedia programming languages</h2>
				</div>
			</div><!-- row -->
		</div><!-- container -->
    </div><!-- headerwrap -->


    <div class="container w">
		    <div class="row centered">
			    <br/><br/>
			    <div class="col-lg-4">
				    <i class="fa fa-heart"></i>
				    <h4>TEXT</h4>
				    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
			    </div><!-- col-lg-4 -->

			    <div class="col-lg-4">
				    <i class="fa fa-laptop"></i>
				    <h4>TEXT</h4>
				    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
			    </div><!-- col-lg-4 -->

			    <div class="col-lg-4">
				    <i class="fa fa-trophy"></i>
				    <h4>TEXT</h4>
				    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
			    </div><!-- col-lg-4 -->
		    </div><!-- row -->
		    <br/>
		    <br/>
	    </div><!-- container -->


	<div id="dg">
		<div class="container wb">
			<div class="row centered">
                    @foreach (var item in Model)
                    {
                      <div class="col-md-3">
                        <a><b>@Html.ActionLink(item.Name, "viewInfo", new {id = item.LanguageID}, new {@class="button"})</b></a>
                      </div>     
                    }
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- DG -->

	<!-- FEATURE SECTION -->
	<div class="container wb">
		<div class="row centered">
			<br/><br/>
			<div class="col-lg-8 col-lg-offset-2">
				<h4>WE CREATE FIRST CLASS DESIGN</h4>
				<p>By being true to the brand we represent, we elevate the audiences’ relationship to it. Like becomes love becomes a passion. Passion becomes advocacy. And we see the brand blossom from within, creating a whole story the audience embraces. That’s when the brand can truly flex its muscles.</p>
			<p><br/><br/></p>
			</div>
		</div><!-- row -->
	</div><!-- container -->