@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

Hello Dream Team!!
<<<<<<< HEAD
</br>
Licences List @Html.ActionLink("Licenses", "Licenses", "Home")
</br>
IDE's List @Html.ActionLink("IDE", "IDE", "Home")
=======
<br/>
Licences List @Html.ActionLink("Licenses", "Licenses", "Home");
<br/>
<br/>
Task @Html.ActionLink("List", "Index", "Task");
>>>>>>> origin/master
