@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

Hello Dream Team!!
<br/>
Licences List @Html.ActionLink("Licenses", "Licenses", "Home");
<br/>
<br/>
Task @Html.ActionLink("List", "Index", "Task");
